<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fichajes PDF</title>
    <style>
        /* Aumentamos el ancho de las columnas de Fecha y Hora */
        table {
            width: 100%;
            border-collapse: collapse; /* Para que no haya separación entre las celdas */
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .companydata {
            text-align: right;
        }

        .workerdata {
            text-align: left;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }

        /* Ancho específico para las columnas de Fecha y Hora */
        th:nth-child(1), td:nth-child(1) {
            width: 20%; /* Ancho para la columna Fecha */
        }

        th:nth-child(2), td:nth-child(2) {
            width: 20%; /* Ancho para la columna Hora */
        }

        th:nth-child(3), td:nth-child(3) {
            width: 30%; /* Ancho para la columna Entrada/Salida */
        }

        th:nth-child(4), td:nth-child(4) {
            width: 30%; /* Ancho para la columna Tipo */
        }
    </style>
</head>
<body>
    <h1>Reporte de Fichajes</h1>
    <div class="header-container">
        <div class="companydata">
            <p>Nombre empresa</p>
            <p>CIF: B14224433</p>
            <p>Dirección: San Francisco 12</p>
        </div>
        <div class="workerdata">
            <p><strong>Trabajador:</strong> {{ userName }}</p>
            <p>DNI: </p
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Entrada/Salida</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for signing in signings %}
                <tr>
                    <td>{{ signing.datetime|date("d-m-Y") }}</td>
                    <td>{{ signing.datetime|date("H:i:s") }}</td>
                    <td>
                        {% if signing.entry == 1 %}
                            Entrada
                        {% elseif signing.entry == 0 %}
                            Salida
                        {% endif %}
                    </td>
                    <td>{{ signing.type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-3">
        <p><strong>Total horas trabajadas en el {{ formattedDate }}:</strong> {{ totalHours }}</p>
        <p><strong>Total Horas Teóricas:</strong> {{ formattedTheoreticalHours }}</p>
        <p><strong>Diferencia:</strong> {{ differenceFormatted }}</p>
        
    </div>
</body>
</html>
