{% extends 'base.html.twig' %}

{% block title %}Eliminar Usuario{% endblock %}

{% block body %}
<h2 class="card-title mb-4 text-center" style="margin-top: 2rem;">Eliminar Trabajador</h2>
<div class="d-flex justify-content-center align-items-center" style="min-height: 30vh;">
    <div class="card p-4" style="max-width: 500px; width: 100%;">
        <!-- Mostrar mensajes flash -->
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
        
        <div class="mb-3">
            {{ form_label(form.userId, 'ID del Usuario', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.userId, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.userId) }}
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ path('app_user') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>

        {{ form_end(form) }}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}