{% extends 'base.html.twig' %}

{% block title %}Ver fichajes{% endblock %}

{% block body %}
<h2 class="card-title mb-4 text-center">Ver fichajes</h2>
<div class="d-flex justify-content-center align-items-center" style="min-height: 30vh;">
    <div class="card p-4" style="max-width: 600px; width: 100%;">
        <div class="mb-3">
            {% if role == 'ROLE_ADMIN' %}
                <label for="userSelect" class="form-label">Seleccione un Usuario</label>
                <select id="userSelect" class="form-select">
                    <option value="">-- Seleccione un Usuario --</option>
                    {% for user in users %}
                        <option value="{{ user.id }}" data-name="{{ user.name }}">{{ user.id }} - {{ user.name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <label for="userSelect" class="form-label">Usuario</label>
                <select id="userSelect" class="form-select" disabled>
                    <option value="{{ user.id }}" data-name="{{ user.name }}">{{ user.id }} - {{ user.name }}</option>
                </select>
            {% endif %}
        </div>

        <!-- Selectores de Fecha -->
        <div class="row mb-3">
            <div class="col">
                <label for="yearSelect" class="form-label">Año</label>
                <select id="yearSelect" class="form-select">
                    <option value="">Seleccione año</option>
                </select>
            </div>
            <div class="col">
                <label for="monthSelect" class="form-label">Mes</label>
                <select id="monthSelect" class="form-select" onchange="updateDays()">
                    <option value="">Seleccione mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div class="col">
                <label for="daySelect" class="form-label">Día</label>
                <select id="daySelect" class="form-select">
                    <option value="">Seleccione día</option>
                </select>
            </div>
        </div>
        
        <div class="mb-3 text-center">
            <button class="btn btn-primary w-100" onclick="showSignings()">Ver fichajes</button>
        </div>

        <div class="mb-3">
            <h5>Fichajes:</h5>
            <ul id="signingsList">
                {% for signing in signings %}
                    <li>
                        Fecha: {{ signing.datetime|date("d-m-Y") }} - Hora: {{ signing.datetime|date("H:i:s") }}
                    </li>
                {% endfor %}
            </ul>

            <div class="mt-3">
                {% if totalHours == 0 or totalHours == "Por favor, seleccione una fecha válida" %}
                    <h5>Total:</h5>
                {% else %}    
                    <h5>Total horas trabajadas en {{ formattedDate }}: {{ totalHours }}</h5>
                {% endif %}    
            </div>
        </div>

        <!-- Formulario para Imprimir PDF -->
        <form action="{{ path('app_user_print_pdf') }}" method="get" target="_blank">
            <input type="hidden" name="userName" id="userName" value="">
            <input type="hidden" name="totalHours" value="{{ totalHours }}">
            <input type="hidden" name="formattedDate" value="{{ formattedDate }}">
            <input type="hidden" name="signings" value="{{ signings|json_encode }}">

            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary w-100">Imprimir PDF</button>
            </div>            
        </form>
        
    </div>
</div>

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dateSelectors.js') }}"></script>
    <script>
        // Llamada a las funciones para llenar los selectores al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            populateYearSelector();
        });

        function showSignings() {
            const userSelect = document.getElementById('userSelect');
            const userId = userSelect.value;
            const userName = userSelect.options[userSelect.selectedIndex].getAttribute('data-name');
            const year = document.getElementById('yearSelect').value;
            const month = document.getElementById('monthSelect').value;
            const day = document.getElementById('daySelect').value;

            document.getElementById('userName').value = userName;

            window.location.href = `/user?userId=${userId}&year=${year}&month=${month}&day=${day}`;
        }
    </script>
{% endblock %}
{% endblock %}
